body {
  background-image: url(/image/happy.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: #d8628f;
}

.container {
  margin: 100px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
}

form {
  padding: 30px;
  background-color: #fcf8f5;
  border-radius: 8px;
  display: flex;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  margin-bottom: 30px;
}

.instruction {
  padding: 16px;
  border: 1px solid rgba black;
  width: 80%;
  font-size: 16px;
  border-radius: 40px;
  line-height: 20px;
}

.submit-button {
  margin-left: 10px;
  background: #f185af;
  border: none;
  border-radius: 40px;
  padding: 14px 24px;
  width: 150px;
  font-size: 16px;
  color: #fcf8f5;
}

.poem {
  font-size: 16px;
  background-color: #fcf8f5;
  padding: 20px;
  line-height: 2;
  box-shadow: 0px 20px 60px rgba(39, 33, 66, 0.03);
  border-radius: 8px;
  opacity: 0.8;
  border-left: 2px solid #d8628f;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
